/* src/index.css */
@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-[#111] font-sans antialiased overflow-x-hidden;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  }

  /* 텍스트 드래그(Selection) 색상 커스텀 */
  ::selection {
    @apply bg-slate-200 text-slate-900;
  }

  /* 스크롤바 전체 컨테이너 */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* 스크롤바 배경 */
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  
  /* 움직이는 스크롤바 막대 */
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full border-[2px] border-solid border-white;
  }
  
  /* 마우스 오버 시 스크롤바 막대 색상 */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400;
  }
}